<li>
<div class=" content group">
  {{#link-to 'communicationchild' communication.id}}
  <div class="col-md-6 img">
    <img src="{{communication.image}}">
  </div>
  <div class="col-md-6">
  <h2>{{communication.name}}</h2>
  <br>
  </div>
{{/link-to}}
</div>
</li>
