<li>
		<div class="content group">
				 {{#link-to 'safaricom' communication.id}}<div class="col-md-6 img1">
				 	<img src="{{communication.image}}">
				 </div>
				 <div class="col-md-6">
				 	<h2>{{communication.name}}</h2> <small>Farming made easy</small>
				 	 <br>
				  	<p>{{communication.content}}</p>
				  	<div class="button">
				  		<button {{action 'addToCart' communication}}>Favorite</button>
				  	</div>
				 </div>{{/link-to}}
		</div>
		
	</li>
