<div class="bank">
	<p class="h3">Thank you for visiting {{communication.name}}</p>
	<br>
	<p class="text-justify">{{communication.content}}.</p>
</div>
<br>
<h3>Below is the financial forcast over previous years:</h3>
<div class="row">
	<div class="col-md-6">
		<small>Cash flows in summary</small> <br>
		<div class="forecast">
			<dl class="dl-horizontal">
				<dt>2015 Budgeted profit</dt>
				<dd>Ksh.33,564,655</dd>
				<dt>2015 Actual profit</dt>
				<dd>Ksh.24,234,456</dd>
				<dt>Increased Profit 2015</dt>
				<dd>Ksh.23,4567</dd>
				<dt>Earning per share</dt>
				<dd>1.2</dd>
				<dt>Divided Paid</dt>
				<dd>shs.345per share</dd>
				<dt>Increased in E.P.S</dt>
				<dd>Ksh.345</dd>
			</dl>
		</div>
	</div>
	<div class="col-md-6 financeDetails">
		<h2>Live a cool life with {{communication.name}} </h2>
		<p>Employee benefit plans provide benefits to both employees and former employees. One example is a health and welfare benefit plan that provides medical, dental, vision, vacation, and dependent care (just to name a few) benefits to employees and former employees.
        The footnotes also spell out details about the company’s expense and unpaid liability for employees’ retirement and pension plans. These details include the obligation of the business to pay for post-retirement health and medical costs of retired employees.</p> <br>By <br> <small>John Maina, CEO</small>

	</div>
</div>
<small>	Make a wise decision today</small>
<p>Invest today in {{communication.name}} and get awesome rewards</p>
