{{#each shoppingCart.items as |item|}}
   <br>
  <div class="container">
    <div class="cartDisplay group">
    <li>
    <h1>{{item.name}} </h1>
    <div class="row">
      <div class="col-md-5">{{item.content}}</div>
      <div class="col-md-7"><img src="{{item.image}}" alt=""></div>
    </div> 
    </li>
      
      </div>
  </div>
{{/each}}