<div class="bank">
	Welcome to  {{industrial.name}} get info,
	<br>
	<p class="text-justify">{{industrial.content}}.</p>
</div>
<br>
<h3>Check here fore the financial details over previous years:</h3>
<small>Invest today in {{industrial.name}} and get value of your investmemnt</small>