  <div class="container">

    <div class="panel panel-default">
      <div class="panel-heading">
         <p class="panel-title title ">About Investment Solutions</p>
      </div>
      <div class="panel-body">
        <div class="row content group">
        <div class="col-md-4">
        <h3>What we Do</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
        </div>
        <div class="col-md-4">
        <h3>Major Partner</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
        </div>
        <div class="col-md-4">
        <h3>Major Clients</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
        </div>
        </div>
      </div>
    </div>


    <div class="values">
    <h2>Core Values</h2>
    <h4>We are defined by the following Values:</h4>
      <ul>
        <li>Integrity</li>
        <li>Respect to our Clients</li>
        <li>Discipline </li>
        <li>Quality of Service</li>
      </ul>
    </div>
    
    <hr>
    <!--Section: Testimonials v.1-->
    <section class="section">

        <!--Section heading-->
        <h1 class="section-heading title">Testimonials</h1>
        <!--Section sescription-->
        <div class="testimonial">
            <p class="section-description ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
        </div>

        <div class="row">

            <!--First column -->
            <div class="col-lg-4 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up teal lighten-2">
                    </div>

                    <!--Avatar-->
                    <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Anna Atieno</h4>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci.</p>
                    </div>

                </div>
                <!--/.Card-->


            </div>
            <!--/First column -->

            <!--Second column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up indigo darken-2">
                    </div>

                    <!--Avatar-->
                    <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">John King'ori</h4>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Neque cupiditate assumenda in maiores repudiandae mollitia architecto.</p>
                    </div>

                </div>
                <!--/.Card-->


            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up purple darken-2"></div>

                    <!--Avatar-->
                    <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle img-responsive">
                    </div>

                    <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Maria Wanjiku</h4>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Delectus impedit saepe officiis ab aliquam repellat, rem totam unde ducimus.</p>
                    </div>

                </div>
                <!--/.Card-->


            </div>
            <!--/Third column-->

        </div>

    </section>
    <!--Section: Testimonials v.1-->
  </div>


