<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand">
      	<h4>Investment Solutions</h4>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Company Name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sectors <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'agriculture'}}Agriculture{{/link-to}}</li>
            <li>{{#link-to 'communication'}}Tele-communication{{/link-to}}</li>
            <li>{{#link-to 'industrial'}}Industrials{{/link-to}}</li>
            <li>{{#link-to 'financial'}}Financial{{/link-to}}</li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	{{outlet}}
</div>


  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
        <h4>Contact Address</h4>
          <address>
            Email: <a href="https://mail.google.com/mail/u/0/#inbox">gatonyejmaina@gmail.com</a>,            <a href="https://mail.google.com/mail/u/0/#inbox">investmentsolutions@outlook.ac.ke</a> <br>
            P.O.Box 1002, Kericho.<br>
            Cell: +254727448382, 0726123454.
          </address>
        </div>
        <div class="col-md-7"><p class="h4">We have  solution to your financial crisis</p></div>
        <img src="https://www.graphicsprings.com/filestorage/stencils/38fe4e3bcd6733d6a75a8fcc3fc06417.svg" alt="">
      </div>
      <div class="botton-footer">
        <div class="col-md-5">
          @ CopyRight InvestmentSolutions 2017.
        </div>
        <div class="col-md-7">
          <ul class="footer-nav">
            <li><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
          </ul>
        </div>
    </div>
    </div>
  </footer> 
