<p class="finance h2">Communication Sector <br><small>Farming is the backbone of any society</small></p>
{{!-- {{financial-sector saveCompany='saveCompany'}} --}}

<ul>
	{{#each model as |communication|}}
	{{communication-tile communication=communication}}
	{{/each}}
</ul>