<p class="finance h3">Financial Details of {{model.name}}</p>
	<div class="container">
		<div class="jumbotron">
			<img  src="{{model.image}}" class="img-responsive img-rounded"alt="Responsive Image">
		</div>

	</div>
{{company-detail finance=model}}
{{new-review saveReview2="saveReview3" finance=model}}

