<p class="finance h3">Invest Today in {{model.name}} <br><small>Farming will change the world</small></p>
	<div class="container">
		<div class="jumbotron">
			<img  src="{{model.image}}" class="img-responsive img-rounded"alt="Responsive Image">
		</div>

	</div>
	{{agricultur-detail agriculture=model}}