<div class="container">
	<div class="investment">
		<div class="header1 ">
		<br>
			<p class="homePage">Welcome to the future</p>
		</div>

		{{!-- <p class=" homePage h3">Secure your finances through viable investments</p> --}}

		{{!-- <div class="logo">
			<img src="http://desiznworld.com/wp-content/uploads/2016/11/Money-Invest-Logo-Template.jpg" alt="" class="rounded-circle img-responsive">
			fgthbgjmk,nh.MF 
		</div> --}}
	</div>
	
	<h2 class="viewedCompany">Most viewed companies</h2>
	{{display-cart }}


</div>